main {
  display: grid;
  grid-template-columns: repeat(6, 15%);
  grid-template-rows: repeat(4, 30em);
  gap: 2px;
  justify-content: center;
  justify-items: center;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

*,
*::before *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

aside{
  grid-column: 2/6;
  grid-row: 4/4;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 3px;
  justify-content: center;
  grid-auto-flow: column;
}

img.smileImg{
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
}

img.overcomeImg{
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
}

figure#overcome{
  grid-column: 1/3;
  grid-row: 2/4;
}

figure#smile{
  grid-column: 4/6;
  grid-row: 2/4;
}

h1{
  font-size: 30px;
  text-shadow: 2px 2px wheat;
  grid-row: 1/1;
  grid-column: 2/6;
  overflow: hidden;
  white-space: nowrap;
  justify-self: center;
  justify-content: center;
  margin-left: 100%;
  margin-right: 100%;
  margin-top: 30%;
}

figcaption{
  position: absolute;
  bottom: 10px;
  color: aqua;
}

figure.firstImg{
  display: block;
  grid-row: 2/2;
  grid-column: 2/6;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

img.centered{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

img.linkImg{
  max-width: 150px;
  max-height: 200px;
}

p.hello{
  font-size: 20px;
  grid-row: 3/3;
  grid-column: 2/6;
  align-content: center;
  margin-top: 30%;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(5, 50px);
  gap: 2px;
  justify-content: center;
  justify-items: center; 
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  ;
}

li.positiveCollapse{
  display: none;
}

li .x {
  grid-column: 1/1;
  grid-row: 1/1;
}

li .home {
  grid-column: 1/1;
  grid-row: 1/1;
}

li.bio {
  background-color: yellowgreen;
  grid-column: 1/ span 2;
  grid-row: 2/2;
}

li.distance {
  grid-column: 1/span 2;
  grid-row: 3/3;
}

li.positive {
  background-color: violet;
  grid-column: 1/1;
  grid-row: 4/4;
}

li.positiveClick{
  grid-column: 2/2;
  grid-row: 4/4;
}

li#empathy{
  background-color: blue;
  grid-column: 1/span 2;
  grid-row: 5/5;
}

li#adaptility{
  background-color: brown;
  grid-column: 1/span 2;
  grid-row: 6/6;
}

li#innovation {
  background-color: violet;
  grid-column: 1/span 2;
  grid-row: 7/7;
}

li#flexibility{
  background-color: coral;
  grid-column: 1/span 2;
  grid-row: 8/8;
}

li.challenges {
  background-color: yellowgreen;
  grid-column: 1/ span 2;
  grid-row: 5/5;
}

li.challengeCollapse{
  display: none;
}

li#infrastructure{
  background-color: darkgray;
  grid-column: 1/span 2;
  grid-row: 10/10
}

li#academics{
  background-color: rgb(169, 169, 169);
  grid-column: 1/span 2;
  grid-row: 11/11
}

li#illness{
  background-color: rgb(27, 17, 17);
  grid-column: 1/span 2;
  grid-row: 12/12
}

li#economics{
  background-color: rgb(192, 71, 186);
  grid-column: 1/span 2;
  grid-row: 12/12
}

figure {
  align-items: center;
  align-content: center;
}