main {
  display: grid;
  grid-template-columns: minmax(0, repeat(4 1fr));
  gap: 2px;
  justify-content: center;
  justify-items: center;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

*,
*::before *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(5, 50px);
  gap: 2px;
  justify-content: center;
  justify-items: center; 
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  ;
}

li.positiveCollapse{
  display: none;
}

li .x {
  grid-column: 1/1;
  grid-row: 1/1;
}

li .home {
  grid-column: 1/1;
  grid-row: 1/1;
}

li.bio {
  background-color: yellowgreen;
  grid-column: 1/ span 2;
  grid-row: 2/2;
}

li.distance {
  grid-column: 1/span 2;
  grid-row: 3/3;
}

li.positive {
  background-color: violet;
  grid-column: 1/1;
  grid-row: 4/4;
}

li.positiveClick{
  grid-column: 2/2;
  grid-row: 4/4;
}

li#empathy{
  background-color: blue;
  grid-column: 1/span 2;
  grid-row: 5/5;
}

li#adaptility{
  background-color: brown;
  grid-column: 1/span 2;
  grid-row: 6/6;
}

li#innovation {
  background-color: violet;
  grid-column: 1/span 2;
  grid-row: 7/7;
}

li#flexibility{
  background-color: coral;
  grid-column: 1/span 2;
  grid-row: 8/8;
}

li.challenges {
  background-color: yellowgreen;
  grid-column: 1/ span 2;
  grid-row: 5/5;
}

li.challengeCollapse{
  display: none;
}

li#infrastructure{
  background-color: darkgray;
  grid-column: 1/span 2;
  grid-row: 10/10
}

li#academics{
  background-color: rgb(169, 169, 169);
  grid-column: 1/span 2;
  grid-row: 11/11
}

li#illness{
  background-color: rgb(27, 17, 17);
  grid-column: 1/span 2;
  grid-row: 12/12
}

li#economics{
  background-color: rgb(192, 71, 186);
  grid-column: 1/span 2;
  grid-row: 12/12
}

figure {
  align-items: center;
  align-content: center;
}